
@import "tailwindcss";

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
} */

.custom-progress::-webkit-progress-bar {
  background-color: white;

}
.custom-progress::-webkit-progress-value{
  background-color: #6e11b0;
}
@layer{
  .buttonstyle{
    @apply bg-purple-800 rounded-[13px] text-white transition-all duration-200 cursor-pointer hover:bg-purple-400 
  }
}
